.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* align-self: center;   */
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  background-color: #ffe4c4;
}

.rows {
  width: 100%;
  height: 33%;
  /* border: 1px solid black; */
  display: flex;
}

.cells {
  width: 33%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
